/* Footer */
.footer {
    background-color: #414141;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    opacity: 90%;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

/* Footer Left */
.footer-left {
    padding-right: 15px;
}

.about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.icons {
    margin-top: 10px;
}

.icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* Footer Center */
.footer-center {
    padding: 0 15px;
    text-align: center;
}

.footer-center div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.footer-center div i {
    margin-right: 10px;
}

.footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin-right: 10px; 
    margin-left: 150px;
    margin-top: 12px;
}

.footer-center i.fa-envelope {
    font-size: 17px;
}

.footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    padding-top: 10px;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-center p a {
    color: #0099ff;
    text-decoration: none;
}

/* Footer Right */
.footer-right {
    padding-left: 15px;
    text-align: right;
}

.logo-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.baykusLogo {
    width: 100px;
    margin-left: 20px;
}

.menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.menu a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #0099ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.menu a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-right: 130px;
}

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center;
        padding: 0;
    }

    .footer-center div {
        flex-direction: column;
    }

    .logo-menu {
        justify-content: center;
    }

    .baykusLogo {
        margin-left: -10px;
        margin-right: 0;
    }
}
